<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @email %></h1>
    <p>
      Here I send you my wishlist: <strong><%= @wishlist.title %></strong>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= url_for(host:"localhost:3000", controller:'wishlists', action:"show", id: @wishlist_id) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>